<%- include('../include/header') %>
<section class="content-header">
    <h1>
        Dashboard
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h4 class="box-title"><%= title %></h4>
                </div>
                <form class="box-body" method="post" sbform="true" saveid="#action_data" url="manager_action/action_license">
                    <input type="hidden" name="enc_id" value="<%= enc_data.id %>">
                    <div class="form-group">
                        <label>License User</label>
                        <input type="text" class="form-control" placeholder="License User" readonly value="<%= license_user.firstname; %> <%= license_user.lastname; %>">
                    </div>
                    <div class="form-group">
                        <label>License Key</label>
                        <input type="text" class="form-control" placeholder="License Key" readonly value="<%= enc_data.license_key; %>">
                    </div>
                    <div class="form-group">
                        <label>Duration <small>(hour)</small></label>
                        <input type="number" class="form-control" min="1" placeholder="Duration" name="duration" value="<%= enc_data.duration; %>">
                    </div>
                    <div class="form-group">
                        <label>Request Status</label>
                        <select class="form-control" name="request_status" required>
                            <option value="1">Active</option>
                            <option value="0">Declined</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success"><%= title %></button>
                    </div>
                    <div class="form-group">
                        <div id="action_data"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<%- include('../include/footer') %>